<style>
    .navi {

    }

    .navi span {
        font-size: 3em;
        text-align: center;
    }

    .aco {
        display: none;
    }

    .aco:checked ~ ul {
        display: block;
    }

    .aco ~ ul {
        display: none;
    }

    a:hover, li label:hover {
        color: darkred;
        cursor: pointer;
    }
</style>

<nav id="navi" class="navi">
    <span>Menu</span>
    <br/>
    <ul>
        <li>
            <a href="{{ site.baseurl }}/">Home</a>
        </li>
        <li>
            <input type = 'checkbox' id = 'chkCate' class = 'aco'>
            <label for='chkCate'>Category</label>
            <ul>
                {% for cat in site.data.category.list %}
                <li>
                    <a href = '{{ baseurl }}{{ cat.url }}'>{{ cat.name }}</a>
                </li>
                {% endfor %}
                
            </ul>
        </li>
    </ul>

</nav>
