---
---
@import "main";


#postDetail {
    width: 100%;
    padding: 1%;
}

#postDetail thead {
    height: 4em;
}

#postDetail tbody {
    height: 36.6em;
}

#postDetail tbody td {
    height: 100%;
}

#postDiv {
    height: 100%;
    overflow: scroll;
}

#postDiv img {
    max-width: 90%;
}

.oneLine {
    column-count: 4;
}

#imageRow img {
    width   : auto;
}