<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    </head>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <body>
        {% include header.html %}
        {% include navigation.html %}

        <div id="recent">
            <table>
                <caption>최근 등록된 글</caption>
                <thead>
                    <tr>
                        <th>등록일</th>
                        <th>제목</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>

        {{ content }}

        {% include footer.html %}
    </body>
</html>