<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    </head>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/project.css">
    <body>
        {% include header.html %}
        <div id = 'content'>
            <div id = "leftDiv">
                <table id = 'postDetail' border = '1'>
                    <thead>
                        <tr>
                            <th colspan='2'>{{ page.projectName }}</th>
                        </tr>
                        <tr>
                            <td>수행기간</td>
                            <td>{{ page.projectPeriod }}</td>
                        </tr>
                        <tr>
                            <td>프로젝트 경로</td>
                            <td>
                                {% if page.projectUrl != null %}
                                    <a href="{{ page.projectUrl }}" target = "_blank">{{ page.projectName }} 바로가기</a>
                                {% else %}
                                    <span>URL이 존재하지 않습니다.</span>
                                {% endif %}
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div id = "postDiv">
                                    {{ content }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>

            <div id = "rightDiv">
                {% include navigation.html %}
            </div>
        </div>
        
        {% include footer.html %}
    </body>
</html>
